<main>
   <div class="cd-fixed-bg cd-bg-1">
        <%= render 'welcome/partial/navbar' %>
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid1">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-2">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid2">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-3">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid3">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-4">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid4">
      </div>
   </div>
      <div class="cd-fixed-bg cd-bg-5">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid5">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-6">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid6">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-7">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid7">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-8">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid8">
      </div>
   </div>
      <div class="cd-fixed-bg cd-bg-9">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid9">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-10">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid10">
      </div>
   </div>
</main>

<script>

var random = function(){
  return Math.floor(Math.random() * 10);
}

var random2 = function(x,y){
  return Math.floor(Math.random() *(y-x)+x);
}


var color = function(){
  if(random() < 1){
    return "colorADA0F7";
  }
  else if(random() < 2){
    return "colorEF9FFF";
  }
  else if(random() < 3){
    return "colorF0D9F9";
  }
  else if(random() < 4){
    return "colorD8FFFB";
  }
  else if(random() < 5){
    return "color545463";
  }
  else if(random() < 6){
    return "color0055CC";
  }
  else if(random() < 7){
    return "color264D60";
  }
  else if(random() < 8){
    return "color6DA7AF";
  }
  else if(random() < 9){
    return "colorDAD952";
  }
  else{
    return "color392A4E";
  }
}

console.log(color(1,10));

var font = function(){
  if(random() < 1){
    return "lobster";
  }
  else if(random() < 2){
    return "bangers";
  }
  else if(random() < 3){
    return "grace";
  }
  else if(random() < 4){
    return "hanalei";
  }
  else if(random() < 5){
    return "sacramento";
  }
  else if(random() < 6){
    return "faster";
  }
  else if(random() < 7){
    return "akronim";
  }
  else if(random() < 8){
    return "press";
  }
  else if(random() < 9){
    return "londrina";
  }
  else{
    return "monoton";
  }
}



var fizzBuzz = function(x,y) {
  var fbreturn = [];
    for (i = x; i <= y; i++) {
        if (i % 3 === 0 && i % 5 === 0) {
            fbreturn += "<h1 class='fa-spin fa-5x " + color(1,10) + " " + font(1,10) + "'><strong>Fizz Buzz</strong></h1>" +"<br>";
        } 
        else if (i % 3 === 0) {
            fbreturn += "<h2" + " class= ' " + color(1,10) + " " + font(1,10) + "'> Fizz</h2>" +"<br>";
        } 
        else if (i % 5 === 0) {
            fbreturn += "<h2" + " class= ' " + color(1,10) + " " + font(1,10) + "'> Buzz</h2>" +"<br>";
        } 
        else {
            fbreturn += "<h2" + " class= ' " + color(1,10) + " " + font(1,10) + "'>" +i+ " </h2>" +"<br>";
        } 
    }
    return fbreturn;
}

document.getElementById('fbtextid1').innerHTML = fizzBuzz(1,10);
document.getElementById('fbtextid2').innerHTML = fizzBuzz(11,20);
document.getElementById('fbtextid3').innerHTML = fizzBuzz(21,30);
document.getElementById('fbtextid4').innerHTML = fizzBuzz(31,40);
document.getElementById('fbtextid5').innerHTML = fizzBuzz(41,50);
document.getElementById('fbtextid6').innerHTML = fizzBuzz(51,60);
document.getElementById('fbtextid7').innerHTML = fizzBuzz(61,70);
document.getElementById('fbtextid8').innerHTML = fizzBuzz(71,80);
document.getElementById('fbtextid9').innerHTML = fizzBuzz(81,90);
document.getElementById('fbtextid10').innerHTML = fizzBuzz(91,100);


</script>

<link href='https://fonts.googleapis.com/css?family=Lobster|Bangers|Covered+By+Your+Grace|Hanalei|Sacramento|Faster+One|Akronim|Press+Start+2P|Londrina+Sketch|Monoton' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

