<main>
   <div class="cd-fixed-bg cd-bg-1">
        <%= render 'welcome/partial/navbar' %>
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid1">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-2">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid2">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-3">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid3">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-4">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid4">
      </div>
   </div>
      <div class="cd-fixed-bg cd-bg-5">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid5">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-6">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid6">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-7">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid7">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-8">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid8">
      </div>
   </div>
      <div class="cd-fixed-bg cd-bg-9">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid9">
      </div>
   </div>
   <div class="cd-fixed-bg cd-bg-10">
      <!-- Display Data -->
      <div class="fbtextclass" id="fbtextid10">
      </div>
   </div>
</main>