      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Fizz Buzz</a></li>
            <li role="presentation"><a href="#">Fizz</a></li>
            <li role="presentation"><a href="#">Buzz</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"> Soju Fizz Buzz</h3>
      </div>