body, html, main {
	/* important */
	height: 100%;
}

.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
 
.fbtextclass {
	
	text-align:center;
}


.cd-fixed-bg.cd-bg-1 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/aurora.jpg'); 
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/dock.jpg');
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/mountain.jpg');
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/plane.jpg');
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/fireworks.jpg');
}
.cd-fixed-bg.cd-bg-6 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/night.jpg');
}
.cd-fixed-bg.cd-bg-7 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/skyskape.jpg');
}
.cd-fixed-bg.cd-bg-8 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/spaceman.jpg');
}
.cd-fixed-bg.cd-bg-9 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/bamboo.jpg');
}
.cd-fixed-bg.cd-bg-10 {
  background-image: url('https://s3-us-west-2.amazonaws.com/sojuheroku/bluescape.jpg');
}


.lobster {
	font-family: 'Lobster', cursive;
}
.bangers {
	font-family: 'Bangers', cursive;
}
.grace {
	font-family: 'Covered By Your Grace', cursive;
}
.hanalei {
font-family: 'Hanalei', cursive;
}
.sacramento {
	font-family: 'Sacramento', cursive;
}
.faster {
	font-family: 'Faster One', cursive;
}
.akronim {
	font-family: 'Akronim', cursive;
}
.press {
	font-family: 'Press Start 2P', cursive;
}
.londrina {
	font-family: 'Londrina Sketch', cursive;
}
.monoton {
	font-family: 'Monoton', cursive;
}



//colors

.red {
	color: red;
}
.red {
	color: blue;
}
.white {
	color: white;
}
.black {
	color: black;
}
.yellow {
	color: yellow;
}
.pink {
	color: pink;
}
.violet {
	color: violet;
}
.orange {
	color: orange;
}
.green {
	color: green;
}
.gray {
	color: gray;
}




