<!DOCTYPE html>
<html>
<head>
  <title>Fizzbuzz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= yield %>
</body>
</html>

<link href='https://fonts.googleapis.com/css?family=Lobster|Bangers|Covered+By+Your+Grace|Hanalei|Sacramento|Faster+One|Akronim|Press+Start+2P|Londrina+Sketch|Monoton' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">




<script>

var random = function(){
  return Math.floor(Math.random() * 10);
}

var random2 = function(x,y){
  return Math.floor(Math.random() *(y-x)+x);
}


var color = function(){
  if(random() < 1){
    return "red";
  }
  else if(random() < 2){
    return "blue";
  }
  else if(random() < 3){
    return "black";
  }
  else if(random() < 4){
    return "white";
  }
  else if(random() < 5){
    return "yellow";
  }
  else if(random() < 6){
    return "pink";
  }
  else if(random() < 7){
    return "violet";
  }
  else if(random() < 8){
    return "orange";
  }
  else if(random() < 9){
    return "green";
  }
  else{
    return "gray";
  }
}

console.log(color(1,10));

var font = function(){
  if(random() < 1){
    return "lobster";
  }
  else if(random() < 2){
    return "bangers";
  }
  else if(random() < 3){
    return "grace";
  }
  else if(random() < 4){
    return "hanalei";
  }
  else if(random() < 5){
    return "sacramento";
  }
  else if(random() < 6){
    return "faster";
  }
  else if(random() < 7){
    return "akronim";
  }
  else if(random() < 8){
    return "press";
  }
  else if(random() < 9){
    return "londrina";
  }
  else{
    return "monoton";
  }
}



var fizzBuzz = function(x,y) {
  var fbreturn = [];
    for (i = x; i <= y; i++) {
        if (i % 3 === 0 && i % 5 === 0) {
            fbreturn += "<h1 class='fa-spin fa-5x " + color(1,10) + " " + font(1,10) + "'><strong>Fizz Buzz</strong></h1>" +"<br>";
        } 
        else if (i % 3 === 0) {
            fbreturn += "<h2" + " class= ' " + color(1,10) + " " + font(1,10) + "'> Fizz</h2>" +"<br>";
        } 
        else if (i % 5 === 0) {
            fbreturn += "<h2" + " class= ' " + color(1,10) + " " + font(1,10) + "'> Buzz</h2>" +"<br>";
        } 
        else {
            fbreturn += "<h2" + " class= ' " + color(1,10) + " " + font(1,10) + "'>" +i+ " </h2>" +"<br>";
        } 
    }
    return fbreturn;
}

document.getElementById('fbtextid1').innerHTML = fizzBuzz(1,10);
document.getElementById('fbtextid2').innerHTML = fizzBuzz(11,20);
document.getElementById('fbtextid3').innerHTML = fizzBuzz(21,30);
document.getElementById('fbtextid4').innerHTML = fizzBuzz(31,40);
document.getElementById('fbtextid5').innerHTML = fizzBuzz(41,50);
document.getElementById('fbtextid6').innerHTML = fizzBuzz(51,60);
document.getElementById('fbtextid7').innerHTML = fizzBuzz(61,70);
document.getElementById('fbtextid8').innerHTML = fizzBuzz(71,80);
document.getElementById('fbtextid9').innerHTML = fizzBuzz(81,90);
document.getElementById('fbtextid10').innerHTML = fizzBuzz(91,100);
</script>